# Byte-compiled / optimized / DLL files
__pycache__
.pytest_cache
.eggs

# Environments
.venv

# IDE
/**/.vscode
/**/.idea

# Ignore Gradle project-specific cache and build directories
/**/.gradle
/**/build
