# Byte-compiled / optimized / DLL files
__pycache__
.pytest_cache
.eggs
*.egg-info/

# Environments
.venv
.env
.env.local
.env.*.local
.configuration.json

# Node packages
node_modules

# Vue build and test artifacts:
dist/
**/tests/e2e/reports

# Unit test / coverage reports
**/coverage/**
.coverage
htmlcov

selenium-debug.log
chromedriver.log
geckodriver.log

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.classpath
.project
.settings/
/ims-api/bin

# Ignore Gradle project-specific cache and build directories
/**/.gradle
/**/build

#OS Files
.DS_Store
