/*
Import the SCSS definitions.  Theses definitions are also imported into
components, as needed, because the definitions are just variables
and mixins there is no CSS code bloat.
 */
@import 'theme';
@import 'base';
@import 'layout';
@import "overrides";

.app-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
